.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 581px;
    min-width: 528px;
    background-color: $text-color-white;
    display: flex;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing-function;
    flex-direction: column;
    padding: 40px;
}